.messagerie__loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(#fff, .8);

  .loader {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.loader {
  display: block;
  border: 10px solid #dedede;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.messagerie__body {
  position: relative;
  max-height: calc(100vh - 250px);
  overflow-x: hidden;
  overflow-y: auto;
}